body
{
    font-size : 30px
}
h1 {
    background: black;
    color:aliceblue;
}
h2 {
    color:aliceblue;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
p {
    color:black;
}
p {
    text-align: center;
}

h3 {
    background:red;
    text-align: center;
}


