body
{
    font-size : 30px
}
h1{
    border: 30px solid rgb(108, 245, 3);
}

p{
    border-top: 30px solid rgb(231, 21, 18);
background-color: rgb(253, 253, 253);
}

h1 {
    background: black;
    color:aliceblue;
}
h2 {
    color:aliceblue;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
p {
    color:black;
}
p {
    text-align: center;
}

h3 {
    background:rgb(208, 240, 204);
    text-align: center;
}

.logo {
    width: 100px;
    border-radius: 50px;
    height: 100px;

}

.tim {
    width: 0px;
    border-radius: 0px;

}
