body
{
    font-size : 30px
}
h1 {
    background: black;
    color:aliceblue;
}
h2 {
    color:aliceblue;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
p {
    color:black;
}
p {
    text-align: center;
}

h3 {
    background:red;
    text-align: center;
}

.logo {
    width: 100px;
    border-radius: 50px;
    height: 100px;

}
.tim {
    width: 30px;
    border-radius: 60px;
    height: 40px;

}

